#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
CFLAGS += -std=gnu99

%:
	dh "$@"

override_dh_installinit:
	dh_installinit --no-start

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start onak-foopgp.service
	dh_installsystemd --no-enable --no-start onak-foopgp.socket

# Point onak.ini at the foopgp template flavour. CMake ships vanilla
# as the compile-time default; foopgp overrides explicitly so this
# package serves the 2-column HTML layout out of the box.
override_dh_install:
	dh_install
	sed -i '/^\[main\]/a template_dir=/usr/share/onak/templates/foopgp' \
		debian/onak-foopgp/etc/onak.ini
